#####   protTrace Run Configuration     #####
species:HUMAN
nr_of_processors:1
delete_temporary_files:YES
reuse_cache:YES
###
#####   Preprocessing Steps Configuration (Only valid when preprocessing is YES)        #####
preprocessing:YES
###     Orthologs Search Steps Configuration (Only valid when orthologs_prediction is YES)      ###
orthologs_prediction:YES
search_oma_database:YES
run_hamstr:NO
run_hamstrOneSeq:NO
include_paralogs:YES
###     FAS Score Calculations  ###
fas_score:NO
###     Orthologs Tree Reconstruction   ###
orthologs_tree_reconstruction:YES
###     Scaling Factor Calculation      ###
calculate_scaling_factor:YES
default_scaling_factor:1
###     Multiple Sequence Alignment     ###
perform_msa:YES
###     Calculate Indel rates   ###
calculate_indel:YES
default_indel:0.08
default_indel_distribution:0.25
#####
###
#####   Traceability Calculation Configuration  #####
traceability_calculation:YES
aa_substitution_matrix:WAG
simulation_runs:100
#####
###
#####   Writing traceability results to file and on reference species tree      #####
map_traceability_tree:YES
#####
###
#####   Configuring paths for protTrace dependencies    #####
iqtree:/Users/ingo/anaconda/envs/py27/bin/iqtree
linsi:/usr/local/bin/linsi
hmmfetch:/Users/ingo/anaconda/envs/py27/bin/hmmfetch
hmmscan:/Users/ingo/anaconda/envs/py27/bin/hmmscan
blastp:/Users/ingo/anaconda/envs/py27/bin/blastp
makeblastdb:/Users/ingo/anaconda/envs/py27/bin/makeblastdb
R:/usr/local/bin/R
hamstr:
oneseq:

###
#####   Used files / directories #####
REvolver:/Users/ingo/src/protTrace/used_files/REvolver.jar
simulation_tree:/Users/ingo/src/protTrace/used_files/stepWiseTree.nw
decay_script:/Users/ingo/src/protTrace/used_files/r_nonlinear_leastsquare.R
plot_figtree:/Users/ingo/src/protTrace/used_files/plotPdf.jar
Xref_mapping_file:/Users/ingo/src/protTrace/used_files/speciesTreeMapping.txt
reference_species_tree:/Users/ingo/src/protTrace/used_files/speciesTree.nw
species_MaxLikMatrix:/Users/ingo/src/protTrace/used_files/speciesLikelihoodMatrix.txt
path_oma_seqs:/Users/ingo/src/protTrace/used_files/oma-seqs.fa
path_oma_group:/Users/ingo/src/protTrace/used_files/oma-groups.txt
pfam_database:/Users/ingo/src/protTrace/used_files/Pfam-A.hmm
fas_annotations:PROVIDEPATH2HaMStR/weight_dir
hamstr_environment:default

####################
###     NOTE:- If no hamstr_environment is used or default HaMStR directories are used, then simply write hamstr_environment:default
####################
###
#####   Path Configuration (Where outputs will be saved) - Change this only if you want output and cache results at a different place then default. #####
path_work_dir:/Users/ingo/src/protTrace/output
path_cache:/Users/ingo/src/protTrace/cache
