#####	protTrace Run Configuration	#####

species:HUMAN
nr_of_processors:1
delete_temporary_files:YES
reuse_cache:YES

###
#####	Preprocessing Steps Configuration (Only valid when preprocessing is YES)	#####
preprocessing:YES
###	Orthologs Search Steps Configuration (Only valid when orthologs_prediction is YES)	###
orthologs_prediction:YES
search_oma_database:YES
run_hamstr:YES
run_hamstrOneSeq:YES
include_paralogs:YES
###	FAS Score Calculations	###
fas_score:YES
###	Orthologs Tree Reconstruction	###
orthologs_tree_reconstruction:YES
###	Scaling Factor Calculation	###
calculate_scaling_factor:YES
default_scaling_factor:1.57
###	Multiple Sequence Alignment	###
perform_msa:YES
###	Calculate Indel rates	###
calculate_indel:YES
default_indel:0.08
default_indel_distribution:0.25
#####
###

###
#####	Traceability Calculation Configuration	#####
traceability_calculation:YES
aa_substitution_matrix:WAG
simulation_runs:100
#####
###

###
#####	Writing traceability results to file and on reference species tree	#####
map_traceability_tree:YES
#####
###

###
#####	Configuring paths for protTrace dependencies	#####
MAFFT_linsi:/path/to/linsi
RAxML:/path/to/raxmlHPC
hmmfetch:/path/to/hmmfetch
hmmscan:/path/to/hmmscan
clustalw:/path/to/clustalw
blastall:/path/to/blastall
blastp:/path/to/blastp
formatdb:/path/to/formatdb
makeblastdb:/path/to/makeblastdb
R:/path/to/R
hamstr:/path/to/HaMStR-OneSeq/
hamstrOneSeq:/path/to/HaMStR-OneSeq/bin/oneSeq.pl
treePuzzle:/path/to/puzzle

###
#####	Used files / directories #####
iqtree24:../used_files/iqtree-24
REvolver:../used_files/REvolver.jar
parameters_treePuzzle:../used_files/paramsMaxLikelihoodMapping.txt
simulation_tree:../used_files/stepWiseTree.nw
decay_script:../used_files/r_nonlinear_leastsquare.R
plot_figtree:../used_files/plotPdf.jar
Xref_mapping_file:../used_files/phytozomeSpeciesList.txt
reference_species_tree:../used_files/phytozomeSpeciesTree.nw
species_MaxLikMatrix:../used_files/phytozomeMaxLikMatrix.v2.txt.oma.txt
path_oma_seqs:/path/to/oma-seqs.fa
path_oma_group:/path/to/oma-groups.txt
pfam_database:/path/to/Pfam-A.hmm
fas_annotations:/path/to/fas_annotations
hamstr_environment:default

####################
###	NOTE:- If no hamstr_environment is used or default HaMStR directories are used, then simply write hamstr_environment:default
####################

###
#####	Path Configuration (Where outputs will be saved) - Change this only if you want output and cache results at a different place then default. #####
path_work_dir:../output
path_cache:../cache
