####################
#################### Run Configuration #####################
####################
species:TREBU

####################
#################### Preprocessing Steps Configuration (Only valid when preprocessing is YES) #####################
####################
preprocessing:YES
########
orthologs_prediction:YES
search_oma_database:YES
run_hamstr:YES
run_hamstrOneSeq:YES
include_paralogs:YES
########
fas_score:YES
orthologs_tree_reconstruction:YES
calculate_scaling_factor:YES
default_scaling_factor:1.57
perform_msa:YES
calculate_indel:YES
default_indel:0.08
default_indel_distribution:0.25

####################
#################### Traceability Calculation Configuration #####################
####################
traceability_calculation:YES
aa_substitution_matrix:WAG
simulation_runs:5

####################
#################### Traceability Results Output Configuration #####################
####################
map_traceability_tree:YES

####################
#################### General settings #####################
####################
nr_of_processors:4
delete_temporary_files:YES
reuse_cache:YES

####################
#################### Programs - paths to the used programs #####################
####################
msa:/share/applications/mafft/mafft-7.213/bin/linsi
tree_reconstruction:/share/applications/standard-RAxML/bin/raxmlHPC
REvolver:../used_files/REvolver.jar
hmmfetch:/share/applications/hmmer3/bin/hmmfetch
hmmscan:/share/applications/hmmer3/bin/hmmscan
iqtree24:../used_files/iqtree-24
clustalw:/usr/bin/clustalw
blastall:/usr/bin/blastall
blastp:/usr/bin/blastp
formatdb:/usr/bin/formatdb
makeblastdb:/usr/bin/makeblastdb
R:/usr/bin/R
hamstr:/share/project/arpit/softwares/hamstr/oneseq_distri/
hamstrOneSeq:/share/project/arpit/softwares/hamstr/oneseq_distri/bin/oneSeq.pl
degapping:../used_files/degapper.pl
treePuzzle:/share/applications/tree-puzzle/bin/puzzle

####################
#################### Used files / directories #####################
####################
parameters_treePuzzle:../used_files/paramsMaxLikelihoodMapping.txt
species_MaxLikMatrix:/share/project/arpit/hsrpTrace/protTrace_FAS/used_files/phytozomeMaxLikMatrix.v2.txt.oma.txt
path_oma_seqs:/home/arpit/Downloads/OMA/oma-seqs-latest-edit.txt
path_oma_group:/home/arpit/Downloads/OMA/oma-groups-latest.txt
pfam_database:/share/project/arpit/softwares/hamstr/oneseq_distri/bin/fas/Pfam/Pfam-hmms/Pfam-A.hmm
species_tree:/share/project/arpit/hsrpTrace/protTrace_FAS/used_files/phytozomeSpeciesTree.nw
simulation_tree:../used_files/stepWiseTree.nw
decay_script:../used_files/r_nonlinear_leastsquare.R
plot_figtree:../used_files/plotPdf.jar
hamstr_oma_tree_map:/share/project/arpit/hsrpTrace/protTrace_FAS/used_files/phytozomeSpeciesList.txt
fas_annotations:/share/project/arpit/softwares/hamstr/oneseq_distri/weight_dir_phytozome
hamstr_environment:phytozome

####################
#################### NOTE:- If default or no hamstr_environment is used, then write hamstr_environment:default
####################

####################
#################### Path Configuration (Where outputs will be saved) #####################
####################
path_work_dir:../output
path_cache:../cache
